@page "/sample"
@using KLPVN.Core.Helper

@code {
    protected override async Task OnInitializedAsync()
    {
        using var client = new HttpClient();
        var httpResponse = await client.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast");
    }
    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public int TemperatureF { get; set; }

        public string? Summary { get; set; }
        public override string ToString()
        {
            return $"Hello this is {Summary}";
        }
    }
}

<h3>Sample</h3>
<h1>Hello World</h1>